@import "tailwindcss";

:root {
  --background: #F9F8F4; /* Warm premium beige */
  --foreground: #1A1F1C; /* Deep forest black */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit), "Helvetica Neue", sans-serif;
  --color-forest-900: #1A1F1C;
  --color-forest-800: #2C3530;
  --color-forest-500: #4A5D4E;
  --color-beige-100: #F9F8F4;
  --color-beige-200: #EAE7DC;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-forest-500);
  border-radius: 10px;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #94a3b8;
}
